[submodule "gh-pages"]
	path = gh-pages
	url = git@github.com:NCAR/GeoCAT.git
	branch = gh-pages
[submodule "pyngl"]
	path = pyngl
	url = git@github.com:NCAR/pyngl.git
[submodule "pynio"]
	path = pynio
	url = git@github.com:NCAR/pynio.git
[submodule "wrf-python"]
	path = wrf-python
	url = git@github.com:NCAR/wrf-python.git
[submodule "GeoCAT-comp"]
	path = GeoCAT-comp
	url = git@github.com:NCAR/GeoCAT-comp.git
